@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');

.nikeFont {
  font-family: 'Heebo', sans-serif;
}

.shoePrice {
  display: flex;
  font-size: 12px;
}

.shoeTitle {
  display: flex;
  font-size: 26px;
}

.shoeSize {
  display: flex;
  font-size: 12px;
}
