@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');

.Body {
  font-family: 'Heebo', sans-serif;
}

.Row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.ColumnA {
  display: flex;
  margin-right: auto;
}
.ColumnB {
  display: flex;
  margin-left: auto;
}

.buttonGrid {
  border: dotted pink;
}
